{% extends 'base.html' %}
{% block title %}
    Ekart| Login
{% endblock %}
{% block body %}
    
<div class="container" style="width: 80%">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="row" style="background-color: #74a0cf;">
                <div class="col-md-12 mt-2 p-2">
                    <h1 class="text-center" >Login</h1>
                </div>
            </div>
            <div class="row" style="background-color: #74a0cf;">
                <div class="col-md-12 p-2">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleInputUsername1" class="form-label">Username</label>
                            <input type="text" class="form-control" name="username" id="exampleInputUsername1" placeholder="username">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="password">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %} 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}




