<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save Post</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        
    </style>
</head>
<body>
    <div class="container">
        <h1 class="my-4">Saved Post</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ saved_post.title }}</h5>
                        <p class="card-text">{{ saved_post.description }}</p>
                        <a href="{% url 'save_post' saved_post.id %}" class="btn btn-primary">Save Post</a>
                        <a href="{{ saved_post.url }}" target="_blank" class="btn btn-success">See News</a>
                    </div>
                </div>
            </div>
           
        </div>
    </div>

   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
